---
title: Pipers Pub, Nanaimo BC
---


    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Learn</h1>
              <h3 class="secondary-heading">Our History</h3>
              <span class="seperator">* * *</span>
            </div>
            <p>David Frank Sr. is the patriarch of the Frank family from Ahousat, British Columbia. John Frank Jr., the owner of Pipers, is the son of John Frank Sr., who was the youngest son of 13 children from David Frank Sr. There are approximately 600 living descendents of David Frank Sr.! </p>
            <p>David Frank was a well-known carver of various native works of art including the traditional canoe hanging from the Pipers Pub entrance. He started carving canoes from Red Cedar trees when he was 13 years old. He lived to be over 80 years old and in his carving career he carved out 77 Red Cedar canoes and hundreds of paddles! The canoe hanging outside Pipers Pub was his last project. Halfway through this last masterpiece, David became blind. Rather than stopping, he used 'feeling'...he felt the wood and carved from memory.</p>
            <p>In wedding ceremonies, the canoe was used as a strong symbolic ceremonial tribute: male members of a bride's family, along with the bride, are seated in the canoe. A loud family traditional song---lead by a group of native singers---fills the room as teh males in the canoe ceremoniously paddle their way to the beat of the drums and to the bride's new husband and homeland. If it is a groom using the ceremonial song, then it would be the groom seated by the bride who are on the way to the new homeland
            <br>(Story by Gloria Jean Frank, wife of John Sr.)</p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="img/img_1.jpg" alt="David Frank Sr." title="David Frank Sr." class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5" data-section="specialties">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Our Menu</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- probootstrap-bg-white -->
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="probootstrap-cell-retro">
            <div class="half">

              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                <div class="text text-center">
                  <h3>Appy 1</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$20.99</p>
                </div>
              </div>
              <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_2.jpg);"></div>
                <div class="text text-center">
                  <h3>Appy 2</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$19.99</p>
                </div>
              </div>
              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_3.jpg);"></div>
                <div class="text text-center">
                  <h3>Food 1</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$20.99</p>
                </div>
              </div>

            </div>
            <div class="half">

              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_4.jpg);"></div>
                <div class="text text-center">
                  <h3>Food 2</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$32.99</p>
                </div>
              </div>
              <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_5.jpg);"></div>
                <div class="text text-center">
                  <h3>Food 3</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$25.99</p>
                </div>
              </div>
              <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                <div class="text text-center">
                  <h3>Food 4</h3>
                  <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                  <p class="price">$32.99</p>
                </div>
              </div>
              <br><br><p><%= link_to 'View our full menu', '/menu', :class => "probootstrap-custom-link" %></p><br><br>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5"  data-section="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Sample</h2>
              <h3 class="secondary-heading">Our Drinks</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><%= image_tag 'drinks/domestic_pint.jpg' %></figure>
                <div class="text">
                  <span class="price">$6.00 PINT</span>
                  <h3>Domestic Beer</h3>
                  <p>Budweiser, Kokanee, Bud Light, Lucky Lager</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/specialty_pint.jpg' %></figure>
                <div class="text">
                  <span class="price">$6.25 PINT</span>
                  <h3>Specialty Beer</h3>
                  <p>Alexander Keith's India Pale Ale, Mill Street Tankhouse Ale, Granville Island Winter Ale, Granville Island Infamous IPA, Okanagan Spring, Phillips Blue Buck, Sleemans Branded, Sleemans Honey Brown</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/import_pint.jpg' %></figure>
                <div class="text">
                  <span class="price">$7.50 PINT</span>
                  <h3>Imported Beer</h3>
                  <p>Stella Artois, Guinness, Kilkenny, Strongbow Cider</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/domestic_bottled.jpg' %></figure>
                <div class="text">
                  <span class="price">$5.75 BOTTLE</span>
                  <h3>Domestic Bottled Beer</h3>
                  <p>Budweiser, Kokanee, Bud Light, Labatt Blue, Lucky Lager, Molson Canadian, Coors Light, MGD</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="menus">
              <li>
                <figure class="image"><%= image_tag 'drinks/specialty_bottled.png' %></figure>
                <div class="text">
                  <span class="price">$5.85 BOTTLE</span>
                  <h3>Specialty Bottled Beer</h3>
                  <p>Alexander Keith's IPA, Mill St. Original Organic Lager, Mill St. 100th Meridian, Coors Banquet, Sleeman Honey Brown</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/import_bottled.jpg' %></figure>
                <div class="text">
                  <span class="price">$5.95 BOTTLE</span>
                  <h3>Imported Bottled Beer</h3>
                  <p>Corona, Stella Artois, Heineken, Newcastle</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/cider.jpg' %></figure>
                <div class="text">
                  <span class="price">$6.75 TALL CAN</span>
                  <h3>Ciders</h3>
                  <p>Turning Point and Sir Perry's</p>
                </div>
              </li>
              <li>
                <figure class="image"><%= image_tag 'drinks/coolers.jpg' %></figure>
                <div class="text">
                  <span class="price">$6.25</span>
                  <h3>Coolers</h3>
                  <p>Palm Bay, Mike's Hard, American Vintage Iced Tea, Bud Lime Lime-A-Rita, Smirnoff Ice, Bacardi Tropical OJ, Jaw Drop Sucking Lemon</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_5.jpg);"  data-stellar-background-ratio="0.5" data-section="reservation">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Daily</h2>
              <h3 class="secondary-heading">Specials</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
<table class="table">
 <!--
  <tr>
    <th>Day</th>
    <th>Food</th>
    <th>Drinks</th>
  </tr>
-->
  <tr>
    <th class="day">Monday</th>
    <td>Baby Back Ribs<br>Half Rack - $10.95<br>Full Rack - $16.95</td>
    <td>$4.95 Premium Tap Sleeves<br>Keith's, Millhouse, Granville Island</td>
  </tr>
  <tr>
    <th class="day">Tuesday</th>
    <td>Burger Night - $9.95</td>
    <td>$16 Jugs of Premium Beer!</td>
  </tr>
  <tr>
    <th class="day">Wednesday</th>
    <td>Past Night - $15.95</td>
    <td>House Wine - $4.50 Glass</td>
  </tr>
  <tr>
    <th class="day">Thursday</th>
    <td>Turkey Dinner - $14.95</td>
    <td>$4 Sleeves Domestic Taps</td>
  </tr>
  <tr>
    <th class="day">Friday</th>
    <td>Prime Rib<br>8oz - $21.99<br>12oz - $28.99</td>
    <td>$15 Jugs of Domestic Beer!</td>
  </tr>
  <tr>
    <th class="day">Saturday</th>
    <td>Brunch!!<br>11am - 2pm </td>
    <td>Caesar Saturday - $5 Caesers</td>
  </tr>
  <tr>
    <th class="day">Sunday</th>
    <td>Brunch!!<br>11am-2pm</td>
    <td>Momosa's for $5.50<br>Proseeco, splash of cranberry juice, OJ</td>
  </tr>
</table>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_5.jpg);"  data-stellar-background-ratio="0.5" data-section="events">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Upcoming</h2>
              <h3 class="secondary-heading">Events</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/jones.jpg" alt="Free Bootstrap Template by ProBootstrap.com"></figure>
              <div class="text">
                <span class="date">July 29, 2017</span>
                <h3><a href="#">Cormier VS Jones Round 2!</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                <%= link_to 'Read more', '/event', :class => "probootstrap-custom-link link-sm" %>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/mayweather.jpg" alt="Free Bootstrap Template by ProBootstrap.com"></figure>
              <div class="text">
                <span class="date">August 25, 2017</span>
                <h3><a href="#">MacGregor VS Mayweather</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
                <%= link_to 'Read more', '/event', :class => "probootstrap-custom-link link-sm" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white" data-section="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Contact</h1>
              <h3 class="secondary-heading">Let's Chat</h3>
            </div>
            <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <form method="post" class="probootstrap-form">
              <div class="form-group">
                <label for="c_name">Your Name</label>
                <div class="form-field">
                  <input type="text" id="c_name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="c_email">Your Email</label>
                <div class="form-field">
                  <input type="text" id="c_email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="c_message">Your Message</label>
                <div class="form-field">
                  <textarea name="c_message" id="c_message" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" name="c_submit" id="c_submit" value="Send Message" class="btn btn-primary btn-lg">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

