---
title: Pipers Pub, Nanaimo BC
---


<section class="canarystrap-section canarystrap-bg-white" data-section="welcome">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center canarystrap-animate">
				<div class="canarystrap-heading dark">
					<h1 class="primary-heading">Learn</h1>
					<h3 class="secondary-heading">Our History</h3>
					<span class="seperator">* * *</span>
				</div>
				<p>David Frank Sr. is the patriarch of the Frank family from Ahousat, British Columbia. John Frank Jr., the owner of Pipers, is the son of John Frank Sr., who was the youngest son of 13 children from David Frank Sr. There are approximately 600 living descendents of David Frank Sr.! </p>
				<p>David Frank was a well-known carver of various native works of art including the traditional canoe hanging from the Pipers Pub entrance. He started carving canoes from Red Cedar trees when he was 13 years old. He lived to be over 80 years old and in his carving career he carved out 77 Red Cedar canoes and hundreds of paddles! The canoe hanging outside Pipers Pub was his last project. Halfway through this last masterpiece, David became blind. Rather than stopping, he used 'feeling'...he felt the wood and carved from memory.</p>
				<p>In wedding ceremonies, the canoe was used as a strong symbolic ceremonial tribute: male members of a bride's family, along with the bride, are seated in the canoe. A loud family traditional song---lead by a group of native singers---fills the room as the males in the canoe ceremoniously paddle their way to the beat of the drums and to the bride's new husband and homeland. If it is a groom using the ceremonial song, then it would be the groom seated by the bride who are on the way to the new homeland
				<br>(Story by Gloria Jean Frank, wife of John Sr.)</p>
			</div>
			<div class="col-md-6 col-md-push-1 canarystrap-animate">
				<p><%= image_tag "img/david_frank.jpg", :alt => 'David Frank Sr.', :title => 'David Frank Sr.', :class => 'img-responsive' %></p>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay menu-bg" data-stellar-background-ratio="0.5" data-section="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Discover</h2>
					<h3 class="secondary-heading">Our Menu</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section">
	<div class="container">
		<div class="row">
			<div class="canarystrap-cell-retro">
				<div class="half">

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu1.jpg);"></div>
						<div class="text text-center">
							<h3>Fresh Halibut & Chips</h3>
							<p>Huxnii beer-battered Halibut, fresh off Vancouver Island</p>
							<p class="price">$19.95</p>
						</div>
					</div>

					<div class="canarystrap-cell reverse canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu2.jpg);"></div>
						<div class="text text-center">
							<h3>Herb Crusted Burger</h3>
							<p>Chicken breast pan seared in crusted Italian herbs and topped with bruschetta</p>
							<p class="price">$14.95</p>
						</div>
					</div>

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu3.jpg);"></div>
						<div class="text text-center">
							<h3>Mexi-Burger</h3>
							<p>Pan-seared in our BBQ rub, nacho cheese, jalapeños, and zesty lime Pico de Gallo </p>
							<p class="price">$12.95</p>
						</div>
					</div>
				</div>
				<div class="half">

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu4.jpg);"></div>
						<div class="text text-center">
							<h3>Guinness Beer</h3>
							<p>We have pints of Guinness on tap!</p>
							<p class="price">$7.50</p>
						</div>
					</div>

					<div class="canarystrap-cell reverse canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu5.jpg);"></div>
						<div class="text text-center">
							<h3>BRUNCH!!</h3>
							<p>We serve brunch on Saturday and Sunday, from 11am - 2pm!!</p>
							<p class="price">$11.95+</p>
						</div>
					</div>

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/menu/menu6.jpg);"></div>
						<div class="text text-center">
							<h3>Saturday Caesers</h3>
							<p>Come in Saturday for our Caeser specials, and brunch menu until 2pm</p>
							<p class="price">$5.00</p>
						</div>
					</div>

				</div>
			</div>
		</div><br><br><p class="text-center"><%= link_to 'View our full menu', 'menu', :class => "canarystrap-custom-link" %></p>
	</div>
</section>

<section class="canarystrap-section-bg overlay drinks-bg" data-stellar-background-ratio="0.5" data-section="drinks">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Sample</h2>
					<h3 class="secondary-heading">Our Drinks</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="menus">
					<li>
						<figure class="image"><%= image_tag 'drinks/domestic_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$6.00 PINT</span>
							<h3>Domestic Beer</h3>
							<p>Budweiser, Kokanee, Bud Light, Lucky Lager</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/specialty_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$6.25 PINT</span>
							<h3>Specialty Beer</h3>
							<p>Alexander Keith's India Pale Ale, Mill Street Tankhouse Ale, Granville Island Winter Ale, Granville Island Infamous IPA, Okanagan Spring, Phillips Blue Buck, Sleemans Branded, Sleemans Honey Brown</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/import_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$7.50 PINT</span>
							<h3>Imported Beer</h3>
							<p>Stella Artois, Guinness, Kilkenny, Strongbow Cider</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/domestic_bottled.jpg' %></figure>
						<div class="text">
							<span class="price">$5.75 BOTTLE</span>
							<h3>Domestic Bottled Beer</h3>
							<p>Budweiser, Kokanee, Bud Light, Labatt Blue, Lucky Lager, Molson Canadian, Coors Light, MGD</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="menus">
					<li>
						<figure class="image"><%= image_tag 'drinks/specialty_bottled.png' %></figure>
						<div class="text">
							<span class="price">$5.85 BOTTLE</span>
							<h3>Specialty Bottled Beer</h3>
							<p>Alexander Keith's IPA, Mill St. Original Organic Lager, Mill St. 100th Meridian, Coors Banquet, Sleeman Honey Brown</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/import_bottled.jpg' %></figure>
						<div class="text">
							<span class="price">$5.95 BOTTLE</span>
							<h3>Imported Bottled Beer</h3>
							<p>Corona, Stella Artois, Heineken, Newcastle</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/cider.jpg' %></figure>
						<div class="text">
							<span class="price">$6.75 TALL CAN</span>
							<h3>Ciders</h3>
							<p>Turning Point and Sir Perry's</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/coolers.jpg' %></figure>
						<div class="text">
							<span class="price">$6.25</span>
							<h3>Coolers</h3>
							<p>Palm Bay, Mike's Hard, American Vintage Iced Tea, Bud Lime Lime-A-Rita, Smirnoff Ice, Bacardi Tropical OJ, Jaw Drop Sucking Lemon</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay specials-bg" data-stellar-background-ratio="0.5" data-section="specials">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Daily</h2>
					<h3 class="secondary-heading">Specials</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 canarystrap-animate">
				<!--Tables for Daily Specials for Mobile view -->
				<table class="table mobile">
					<tr>

						<th>Monday</th>
					</tr>
					<tr>
						<td>FOOD<br>Baby Back Ribs<br>Half Rack - $10.95<br>Full Rack - $16.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Premium Tap Sleeves - $4.95<br>Keith's, Millhouse, Granville Island</td>
					</tr>

					<tr>
						<th>Tuesday</th></tr>
					<tr>
						<td>FOOD<br>Burger Night - $9.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Premium Beer Jugs - $16.00 </td>
					</tr>

					<tr>
						<th>Wednesday</th>
					</tr>
					<tr>
						<td>FOOD<br>Pasta Night - $15.95</td>
					</tr>
					<tr>
					<td>DRINK<br>House Wine - $4.50 Glass</td>
					</tr>

					<tr>
						<th>Thursday</th>
					</tr>
					<tr>
						<td>FOOD<br>Turkey Dinner - $14.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Domestic Tap Sleeves - $4</td>
					</tr>

					<tr>
						<th>Friday</th>
					</tr>
					<tr>
						<td>FOOD<br>Prime Rib<br>8oz - $21.99<br>12oz - $28.99</td>
					</tr>
					<tr>
						<td>DRINK<br>Domestic Beer Jugs - $4.00</td>
					</tr>

					<tr>
						<th>Saturday</th>
					</tr>
					<tr>
						<td>FOOD<br>Brunch!!<br>11am - 2pm </td>
					</tr>
					<tr>
						<td>DRINK<br>Caesar Saturday - $5.00</td>
					</tr>

					<tr>
						<th>Sunday</th>
					</tr>
					<tr>
						<td>FOOD<br>Brunch!!<br>11am-2pm</td>
					</tr>
					<tr>
						<td>DRINK<br>Mimosa - $5.50<br>Prosecco, splash of cranberry juice, OJ</td>
					</tr>
				</table>

				<!--Tables for Daily Specials for tablet and desktop view -->
				<table class="table tablet_web">
					<tr>
						<th></th>
						<th>Food</th>
						<th>Drinks</th>
					</tr>

					<tr>
						<th>Monday</th>
						<td>Baby Back Ribs<br>Half Rack - $10.95<br>Full Rack - $16.95</td>
						<td>Premium Tap Sleeves - $4.95<br>Keith's, Millhouse, Granville Island</td>
					</tr>
					<tr>
						<th>Tuesday</th>
						<td>Burger Night - $9.95</td>
						<td>Premium Beer Jugs - $16.00</td>
					</tr>
					<tr>
						<th>Wednesday</th>
						<td>Pasta Night - $15.95</td>
						<td>House Wine - $4.50 Glass</td>
					</tr>
					<tr>
						<th>Thursday</th>
						<td>Turkey Dinner - $14.95</td>
						<td>Domestic Tap Sleeves - $4.00</td>
					</tr>
					<tr>
						<th>Friday</th>
						<td>Prime Rib<br>8oz - $21.99<br>12oz - $28.99</td>
						<td>Domestic Beer Jugs - $15.00</td>
					</tr>
					<tr>
						<th>Saturday</th>
						<td>Brunch!!<br>11am - 2pm </td>
						<td>Caesar Saturday! - $5.00</td>
					</tr>
					<tr>
						<th>Sunday</th>
						<td>Brunch!!<br>11am-2pm</td>
						<td>Momosa's - $5.50<br>Proseeco, splash of cranberry juice, OJ</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay events-bg" data-stellar-background-ratio="0.5" data-section="events">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Upcoming</h2>
					<h3 class="secondary-heading">Events</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="canarystrap-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 canarystrap-animate">
				<div class="canarystrap-block-image">
					<figure>
						<% link_to 'events/mayweather-vs-mcgregor' do %>
							<%= image_tag "img/events/mayweather.jpg", :alt => 'McGregor VS Mayweather', :title => 'McGregor VS Mayweather' %>
						<% end %>
					</figure>
					<div class="text">
						<span class="date">August 26, 2017</span>
						<h3><%= link_to 'McGregor VS Mayweather', 'events/mayweather-vs-mcgregor' %></h3>
						<p>Come in for the fight of the decade!! This is going to be huge, and we expect a full house this night!</p>
						<%= link_to 'Read more', 'events/mayweather-vs-mcgregor', :class => "canarystrap-custom-link link-sm" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white" data-section="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center canarystrap-animate">
				<div class="canarystrap-heading dark">
					<h1 class="primary-heading">Contact</h1>
					<h3 class="secondary-heading">Let's Chat</h3>
				</div>
				<p>We'd love to hear from you, so drop us a line using the form or contact us the old-fashioned way at <%= link_to '1-250-585-1877', 'tel:1-250-585-1877' %>.
				<br>We look forward to hearing from you - we'll get back to you as soon as possible.</p>
			<ul class="canarystrap-footer-social">
					<li>
						<% link_to 'https://www.facebook.com/piperspubltd/' do %>
							<%= image_tag 'img/facebook.png' %>
						<% end %>
					</li>
				<li>
					<% link_to 'https://www.instagram.com/piperspubnanaimo/' do %>
						<%= image_tag 'img/instagram.png' %>
					<% end %>
				</li>
				<li>
					<!-- ADD SOCIAL MEDIA LINK HERE -->
				</li>
				</ul>
			</div>
			<div class="col-md-6 col-md-push-1 canarystrap-animate">

			<form id="ajax-contact" method="post" action="https://static-files.canaryprint.ca/pipers-pub.ca/mailer.php" class="canarystrap-form">
				<div class="form-group">
					<label for="name">Your Name</label>
					<div class="form-field">
						<input type="text" id="name" name="name" required class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="email">Your Email</label>
					<div class="form-field">
						<input type="email" id="email" name="email" required class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="message">Your Message</label>
					<div class="form-field">
						<textarea id="message" name="message" rows="8" required class="form-control"></textarea>
					</div>
				</div>

				<div class="field">
					<button type="submit" class="btn btn-primary btn-lg">Send Message</button>
				</div>
			</form>
			<div id="form-messages"></div>

<script>
$(function() {

	// Get the form.
	var form = $('#ajax-contact');

	// Get the messages div.
	var formMessages = $('#form-messages');

	// Set up an event listener for the contact form.
	$(form).submit(function(e) {
		// Stop the browser from submitting the form.
		e.preventDefault();

		// Serialize the form data.
		var formData = $(form).serialize();

		// Submit the form using AJAX.
		$.ajax({
			type: 'POST',
			url: $(form).attr('action'),
			data: formData
		})
		.done(function(response) {
			// Make sure that the formMessages div has the 'success' class.
			$(formMessages).removeClass('error');
			$(formMessages).addClass('success');

			// Set the message text.
			$(formMessages).text(response);

			// Clear the form.
			$('#name, #email, #message').val('');
		})
		.fail(function(data) {
			// Make sure that the formMessages div has the 'error' class.
			$(formMessages).removeClass('success');
			$(formMessages).addClass('error');

			// Set the message text.
			if (data.responseText !== '') {
				$(formMessages).text(data.responseText);
			} else {
				$(formMessages).text('Oops! An error occured and your message could not be sent.');
			}
		});

	});

});
</script>

			</div>
		</div>
	</div>
</section>

