---
title: Pipers Pub, Nanaimo BC
---


<section class="canarystrap-section canarystrap-bg-white" data-section="welcome">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center canarystrap-animate">
				<div class="canarystrap-heading dark">
					<h1 class="primary-heading">Learn</h1>
					<h3 class="secondary-heading">Our History</h3>
					<span class="seperator">* * *</span>
				</div>
				<p>David Frank Sr. is the patriarch of the Frank family from Ahousat, British Columbia. John Frank Jr., the owner of Pipers, is the son of John Frank Sr., who was the youngest son of 13 children from David Frank Sr. There are approximately 600 living descendents of David Frank Sr.! </p>
				<p>David Frank was a well-known carver of various native works of art including the traditional canoe hanging from the Pipers Pub entrance. He started carving canoes from Red Cedar trees when he was 13 years old. He lived to be over 80 years old and in his carving career he carved out 77 Red Cedar canoes and hundreds of paddles! The canoe hanging outside Pipers Pub was his last project. Halfway through this last masterpiece, David became blind. Rather than stopping, he used 'feeling'...he felt the wood and carved from memory.</p>
				<p>In wedding ceremonies, the canoe was used as a strong symbolic ceremonial tribute: male members of a bride's family, along with the bride, are seated in the canoe. A loud family traditional song---lead by a group of native singers---fills the room as teh males in the canoe ceremoniously paddle their way to the beat of the drums and to the bride's new husband and homeland. If it is a groom using the ceremonial song, then it would be the groom seated by the bride who are on the way to the new homeland
				<br>(Story by Gloria Jean Frank, wife of John Sr.)</p>
			</div>
			<div class="col-md-6 col-md-push-1 canarystrap-animate">
				<p><%= image_tag "img/david_frank.jpg", :alt => 'David Frank Sr.', :title => 'David Frank Sr.', :class => 'img-responsive' %></p>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay menu-bg" style="background-image: url(./img/hero/homepage-menu.jpg);" data-stellar-background-ratio="0.5" data-section="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Discover</h2>
					<h3 class="secondary-heading">Our Menu</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section">
	<div class="container">
		<div class="row">
			<div class="canarystrap-cell-retro">
				<div class="half">

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
						<div class="text text-center">
							<h3>Appy 1</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$20.99</p>
						</div>
					</div>

					<div class="canarystrap-cell reverse canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_2.jpg);"></div>
						<div class="text text-center">
							<h3>Appy 2</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$19.99</p>
						</div>
					</div>

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_3.jpg);"></div>
						<div class="text text-center">
							<h3>Food 1</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$20.99</p>
						</div>
					</div>
				</div>
				<div class="half">

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_4.jpg);"></div>
						<div class="text text-center">
							<h3>Food 2</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$32.99</p>
						</div>
					</div>

					<div class="canarystrap-cell reverse canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_5.jpg);"></div>
						<div class="text text-center">
							<h3>Food 3</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$25.99</p>
						</div>
					</div>

					<div class="canarystrap-cell canarystrap-animate" data-animate-effect="fadeIn">
						<div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
						<div class="text text-center">
							<h3>Food 4</h3>
							<p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
							<p class="price">$32.99</p>
						</div>
					</div>

				</div>
			</div>
		</div><br><br><p class="text-center"><%= link_to 'View our full menu', 'menu', :class => "canarystrap-custom-link" %></p>
	</div>
</section>

<section class="canarystrap-section-bg overlay drinks-bg" style="background-image: url(./img/hero/homepage-drinks.jpg);" data-stellar-background-ratio="0.5" data-section="drinks">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Sample</h2>
					<h3 class="secondary-heading">Our Drinks</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="menus">
					<li>
						<figure class="image"><%= image_tag 'drinks/domestic_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$6.00 PINT</span>
							<h3>Domestic Beer</h3>
							<p>Budweiser, Kokanee, Bud Light, Lucky Lager</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/specialty_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$6.25 PINT</span>
							<h3>Specialty Beer</h3>
							<p>Alexander Keith's India Pale Ale, Mill Street Tankhouse Ale, Granville Island Winter Ale, Granville Island Infamous IPA, Okanagan Spring, Phillips Blue Buck, Sleemans Branded, Sleemans Honey Brown</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/import_pint.jpg' %></figure>
						<div class="text">
							<span class="price">$7.50 PINT</span>
							<h3>Imported Beer</h3>
							<p>Stella Artois, Guinness, Kilkenny, Strongbow Cider</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/domestic_bottled.jpg' %></figure>
						<div class="text">
							<span class="price">$5.75 BOTTLE</span>
							<h3>Domestic Bottled Beer</h3>
							<p>Budweiser, Kokanee, Bud Light, Labatt Blue, Lucky Lager, Molson Canadian, Coors Light, MGD</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="menus">
					<li>
						<figure class="image"><%= image_tag 'drinks/specialty_bottled.png' %></figure>
						<div class="text">
							<span class="price">$5.85 BOTTLE</span>
							<h3>Specialty Bottled Beer</h3>
							<p>Alexander Keith's IPA, Mill St. Original Organic Lager, Mill St. 100th Meridian, Coors Banquet, Sleeman Honey Brown</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/import_bottled.jpg' %></figure>
						<div class="text">
							<span class="price">$5.95 BOTTLE</span>
							<h3>Imported Bottled Beer</h3>
							<p>Corona, Stella Artois, Heineken, Newcastle</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/cider.jpg' %></figure>
						<div class="text">
							<span class="price">$6.75 TALL CAN</span>
							<h3>Ciders</h3>
							<p>Turning Point and Sir Perry's</p>
						</div>
					</li>
					<li>
						<figure class="image"><%= image_tag 'drinks/coolers.jpg' %></figure>
						<div class="text">
							<span class="price">$6.25</span>
							<h3>Coolers</h3>
							<p>Palm Bay, Mike's Hard, American Vintage Iced Tea, Bud Lime Lime-A-Rita, Smirnoff Ice, Bacardi Tropical OJ, Jaw Drop Sucking Lemon</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay specials-bg" style="background-image: url(./img/hero/homepage-specials.jpg);" data-stellar-background-ratio="0.5" data-section="specials">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Daily</h2>
					<h3 class="secondary-heading">Specials</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 canarystrap-animate">
				<!--Tables for Daily Specials for Mobile view -->
				<table class="table mobile">
					<tr>

						<th class="day">Monday</th>
					</tr>
					<tr>
						<td>FOOD<br>Baby Back Ribs<br>Half Rack - $10.95<br>Full Rack - $16.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Premium Tap Sleeves - $4.95<br>Keith's, Millhouse, Granville Island</td>
					</tr>

					<tr>
						<th class="day">Tuesday</th></tr>
					<tr>
						<td>FOOD<br>Burger Night - $9.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Premium Beer Jugs - $16.00 </td>
					</tr>

					<tr>
						<th class="day">Wednesday</th>
					</tr>
					<tr>
						<td>FOOD<br>Past Night - $15.95</td>
					</tr>
					<tr>
					<td>DRINK<br>House Wine - $4.50 Glass</td>
					</tr>

					<tr>
						<th class="day">Thursday</th>
					</tr>
					<tr>
						<td>FOOD<br>Turkey Dinner - $14.95</td>
					</tr>
					<tr>
						<td>DRINK<br>Domestic Tap Sleeves - $4</td>
					</tr>

					<tr>
						<th class="day">Friday</th>
					</tr>
					<tr>
						<td>FOOD<br>Prime Rib<br>8oz - $21.99<br>12oz - $28.99</td>
					</tr>
					<tr>
						<td>DRINK<br>Domestic Beer Jugs - $4.00</td>
					</tr>

					<tr>
						<th class="day">Saturday</th>
					</tr>
					<tr>
						<td>FOOD<br>Brunch!!<br>11am - 2pm </td>
					</tr>
					<tr>
						<td>DRINK<br>Caesar Saturday - $5.00</td>
					</tr>

					<tr>
						<th class="day">Sunday</th>
					</tr>
					<tr>
						<td>FOOD<br>Brunch!!<br>11am-2pm</td>
					</tr>
					<tr>
						<td>DRINK<br>Momosa - $5.50<br>Proseeco, splash of cranberry juice, OJ</td>
					</tr>
				</table>

				<!--Tables for Daily Specials for tablet and desktop view -->
				<table class="table tablet_web">
					<tr>
						<th></th>
						<th>Food</th>
						<th>Drinks</th>
					</tr>

					<tr>
						<th class="day">Monday</th>
						<td>Baby Back Ribs<br>Half Rack - $10.95<br>Full Rack - $16.95</td>
						<td>Premium Tap Sleeves - $4.95<br>Keith's, Millhouse, Granville Island</td>
					</tr>
					<tr>
						<th class="day">Tuesday</th>
						<td>Burger Night - $9.95</td>
						<td>Premium Beer Jugs - $16.00</td>
					</tr>
					<tr>
						<th class="day">Wednesday</th>
						<td>Past Night - $15.95</td>
						<td>House Wine - $4.50 Glass</td>
					</tr>
					<tr>
						<th class="day">Thursday</th>
						<td>Turkey Dinner - $14.95</td>
						<td>Domestic Tap Sleeves - $4.00</td>
					</tr>
					<tr>
						<th class="day">Friday</th>
						<td>Prime Rib<br>8oz - $21.99<br>12oz - $28.99</td>
						<td>Domestic Beer Jugs - $15.00</td>
					</tr>
					<tr>
						<th class="day">Saturday</th>
						<td>Brunch!!<br>11am - 2pm </td>
						<td>Caesar Saturday! - $5.00</td>
					</tr>
					<tr>
						<th class="day">Sunday</th>
						<td>Brunch!!<br>11am-2pm</td>
						<td>Momosa's - $5.50<br>Proseeco, splash of cranberry juice, OJ</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section-bg overlay events-bg" style="background-image: url(./img/hero/homepage-menu.jpg);" data-stellar-background-ratio="0.5" data-section="events">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center canarystrap-animate">
				<div class="canarystrap-heading">
					<h2 class="primary-heading">Upcoming</h2>
					<h3 class="secondary-heading">Events</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="canarystrap-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 canarystrap-animate">
				<div class="canarystrap-block-image">
					<figure>
						<% link_to 'events/mayweather-vs-mcgregor' do %>
						  <%= image_tag "img/events/mayweather.jpg", :alt => 'McGregor VS Mayweather', :title => 'McGregor VS Mayweather' %>
						<% end %>
					</figure>
					<div class="text">
						<span class="date">August 26, 2017</span>
						<h3><%= link_to 'McGregor VS Mayweather', 'events/mayweather-vs-mcgregor' %></h3>
						<p>Come in for the fight of the decade!! This is going to be huge, and we expect a full house this night!</p>
						<%= link_to 'Read more', 'events/mayweather-vs-mcgregor', :class => "canarystrap-custom-link link-sm" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="canarystrap-section canarystrap-bg-white" data-section="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center canarystrap-animate">
				<div class="canarystrap-heading dark">
					<h1 class="primary-heading">Contact</h1>
					<h3 class="secondary-heading">Let's Chat</h3>
				</div>
				<p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
			</div>
			<div class="col-md-6 col-md-push-1 canarystrap-animate">
				<form method="post" class="canarystrap-form">
					<div class="form-group">
						<label for="c_name">Your Name</label>
						<div class="form-field">
							<input type="text" id="c_name" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="c_email">Your Email</label>
						<div class="form-field">
							<input type="text" id="c_email" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="c_message">Your Message</label>
						<div class="form-field">
							<textarea name="c_message" id="c_message" cols="30" rows="10" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" name="c_submit" id="c_submit" value="Send Message" class="btn btn-primary btn-lg">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
